.DS_Store
wp-config.php
_assets
web.config
.env*

wp-content/upgrade/
wp-content/cache/
wp-content/languages/wpml/
wp-content/aiowps_backups/
/wp-content/themes/farmerjohn_old
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
