.cta_hero {
	background-image:url(../assets/img/cta/cta-hero.jpg);
}

.page-ca-transparency-act {
	padding:3rem 0;
}

.page-ca-transparency-act h3 {
	font-family:"DIN OT Bold";
	color:$black;
	font-size:1.5rem;
}