.newsroom_hero {
	padding-top:25%;
	background-image:url(../assets/img/newsroom/newsroom-hero.png);
	background-size:cover;
	background-repeat:no-repeat;
}

.newsroom_two_up {
	padding:5rem 0;
}

@media #{$large-up}{
	.newsroom_three_up {
		margin:3rem 0;
		.green-button-container {
			position: absolute;
			bottom:0;
			left:3rem;
		}
	}
	.newsroom_three_up .column {
		border-right:2px solid $black;
		padding-left:3rem;
		position:relative;
		padding-bottom:3rem;
	}
	.newsroom_three_up .column:last-child {
		border-right:none;
	}
}

.newsroom_featured_post_title {
	font-family: "DIN OT Bold";
	font-size:1.8rem;
	margin-top:0;
	line-height:100%;
	color:$fj-grey;
}

@media #{$large-up}{
	.newsroom_featured_post_title {
		font-size:1.5rem;
	}
}

.newsroom_featured_post_excerpt {
	font-size:1.5rem;
	line-height:120%;
	color:$fj-grey;
}

@media #{$large-up}{
	.newsroom_featured_post_excerpt {
		font-size:1rem;
	}
}

.newsroom_category_label {
	text-transform: uppercase;
	font-size:2.5rem;
	font-family: "DIN OT Bold";
	text-align:center;
	margin:2rem auto;
}

@media #{$large-up}{
	.newsroom_category_label {
		font-size:2rem;
	}
}

.newsroom_category_post {
	display:none;
}

.newsroom_category_post:nth-child(2), .newsroom_category_post:nth-child(3), .newsroom_category_post:nth-child(4), .newsroom_category_post:nth-child(5) {
	display:block;
}

.newsroom_category_post a {
	font-size:1.75rem;
	line-height:120%;
	color:$fj-grey;
	display:block;
	margin:3rem 0;
}

@media #{$large-up}{
	.newsroom_category_post a {
		font-size:1rem;
	}
	.newsroom_category_post:hover a {
		font-family: "DIN OT Bold";
	}
}

.newsroom_three_up .green-button-container {
	text-align:center;
}

@media #{$large-up}{
	.newsroom_three_up .green-button-container {
		text-align:left;
	}
}

.newsroom_three_up .green-button {
	font-size:2rem;
	line-height:100%;
	padding:1rem 4rem;
	margin:0;
}

@media #{$large-up}{
	.newsroom_three_up .green-button {
		font-size:1rem;
		line-height:100%;
		padding:0.25rem 2rem;
	}
}

.featured_post_news_source_logo {
	max-width:205px;
	height:auto;
}

.newsroom_video_container {
	padding:3rem 0;
}

.newsroom_featured_post_image {
	width:100%;
	height:auto;
}